[user]
  name = tsushiy
  email = tsushiy.jp@gmail.com
  signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGRYffCUoVDQSpAgG4d/vdKAuWTryi2c8flJv9JzdBEv

[init]
  defaultBranch = main

[alias]
  aliases = !git config --get-regexp alias | grep -v aliases | sed 's/^alias.//g' | sed 's/ / = /1'
  me = !git config --get-regexp '^user'

  st = status --short --branch
  b  = branch
  bp = !git branch | egrep -v '^[+*]| (master|main)$' | xargs git branch -D
  d  = diff
  f  = fetch --prune
  p  = pull --prune
  force-pull = !git fetch && git reset --hard $(git rev-parse --abbrev-ref @{upstream})
  push-up = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
  sta = stash

  cm = commit -m
  amend = commit --amend
  fixup = commit --fixup

  rb = rebase
  rbi = rebase --interactive
  rba = rebase --abort
  rbc = rebase --continue

  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue

  co = checkout
  s  = switch
  genb = !git switch -c $(git config user.name)_$(date +'%Y%m%d')_$(cat /dev/urandom | head -c 50 | sha1sum | head -c 10)

  lg = log --graph --decorate=short --date=format-local:'%Y/%m/%d %H:%M:%S' --pretty=format:'%C(green)%h%C(reset) %C(magenta)[%ad]%C(reset) %C(blue)%an%C(reset) %s%C(auto)%d%C(reset)'
  lgr = lg --remotes --branches
  lgs = log --no-merges --name-status --date=format-local:'%Y/%m/%d %H:%M:%S' --pretty=format:'%C(green)%h%C(reset) %C(magenta)[%ad]%C(reset) %C(blue)%an%C(reset) %s%C(auto)%d%C(reset)'

  unstage  = reset --mixed HEAD --
  uncommit = reset --mixed HEAD~ --
  discard  = reset --hard HEAD --

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[rebase]
  autosquash = true

[url "git@github.com:"]
  pushInsteadOf = https://github.com/

[ghq]
  user = "tsushiy"
